@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>Welcome</h1>
</div>
<p>
    Our team of talented scientists, engineers and specialists work hard to
    ensure that out customers have access to a range of innovative products
    that suit every choice of beauty and self-expression.
</p>
<p>
    Out beauty brands span make-up, skincare, fragrance, personal care,
    hair care, fashion and home products.
</p>